<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Layout\Pool">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="custom_generic" xsi:type="array">
                    <item name="class" xsi:type="string">Grasch\AdminUi\Layout\Generic</item>
                    <item name="template" xsi:type="string">templates/layout/generic</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Widget\Block\Adminhtml\Widget\Options">
        <plugin name="Grasch_AdminUi::decodeComponentValues" type="Grasch\AdminUi\Plugin\Magento\Widget\Block\Adminhtml\Widget\Options\DecodeComponentValues" />
    </type>

    <preference for="Grasch\AdminUi\Model\JsConfiguration\ModifierInterface" type="Grasch\AdminUi\Model\JsConfiguration\ModifierComposite"/>
    <type name="Magento\Framework\View\Layout\Generic">
        <plugin name="Grasch_AdminUi::modifyJsConfiguration" type="Grasch\AdminUi\Plugin\Magento\Framework\View\Layout\Generic\ModifyJsConfiguration" />
    </type>
    <type name="Grasch\AdminUi\Model\JsConfiguration\ModifierComposite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="listing_component_modifier" xsi:type="object">Grasch\AdminUi\Model\JsConfiguration\Modifiers\ListingComponentModifier</item>
                <item name="multiselect_component_modifier" xsi:type="object">Grasch\AdminUi\Model\JsConfiguration\Modifiers\MultiselectComponentModifier</item>
            </argument>
        </arguments>
    </type>
</config>
